
<div class="grid">
{{#each links}}
	<div class="col col--3of12">
		<a href="{{profile_url}}" target="_blank"><svg class="icon-{{service_name}} icon--medium"><use xlink:href="/assets/icons.svg#icon-{{service_name}}"></use></svg></a>
	</div>
{{/each}}
</div>