
<div class="grid grid--tight_guttered">
{{#each links}}
	<div class="col">
		<a href="{{profile_url}}" target="_blank"><svg class="icon-{{service_name}} icon--medium"><use xlink:href="/assets/icons.svg#icon-{{service_name}}"></use></svg></a>
	</div>
{{/each}}
</div>