
// #FIXES
.sqs-layout > .sqs-row {
	margin-right: -$gutter/4;
	margin-left: -$gutter/4;

	&:last-child {
		margin-bottom: -$gutter/4;
	}
}

	[class*=sqs-col] .sqs-block {
		padding-left: $gutter/4;
		padding-right: $gutter/4;
		padding-top: 0;
	}

	.sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:last-child {
		padding-bottom: $gutter/4;
	}

body:not(.button-style-default).button-style-solid .sqs-editable-button,
body:not(.button-style-default).button-corner-style-square .sqs-editable-button-shape,
.newsletter-block .newsletter-form-button {
	@extend .button;
}

.newsletter-style-dark .newsletter-block .newsletter-form-wrapper {
	color: $primary;
	font-size: inherit;
	padding: 0;
	background: transparent;
}
	.newsletter-block .newsletter-form-header {
		display: none;
	}

	.newsletter-block .newsletter-form-body {
		@extend form;

		position: relative;
		width: 100%;
		max-width: $big_size*12;

		button {
			font-size: $big_size !important;
			border: none !important;
		}
	}

		.newsletter-block .newsletter-form-fields-wrapper {
			width: 100%;
			margin: 0;
		}

			.newsletter-block .newsletter-form-wrapper--alignLeft .newsletter-form-field-wrapper {
				width: 100%;
				padding: 0;
			}

				.newsletter-block .newsletter-form-field-element {
					@extend .input;
				}

			.newsletter-block .newsletter-form-wrapper--alignLeft .newsletter-form-button-wrapper {
				position: absolute;
				bottom: $base_size;
				right: 0;

				margin: 0;
				padding: 0;
			}

	.newsletter-block .form-submission-text {
		color: $primary;
	}
	


