
// #COLORS

$white: #fff;
$black: #000010;
$gold: #d2ceab;
$gold--dark: #aeab91;

$primary: $gold;
$highlight: $white;


// #FONTS

$body_font: "proxima-nova", sans-serif;
$headings_font: "proxima-nova", sans-serif;
$alternate_font: "proxima-nova", sans-serif;


// #LAYOUT

$base_size: 15px;
$huge_size: 50px;
$big_size: 30px;
$medium_size: 20px;
$line_height: 1.4;
$vertical_rythm: $medium_size;
$letter_spacing: 0.5em;
$border_radius: 0;

$number_of_columns: 12;
$gutter: $huge_size*2;


// #ANIMATIONS

$fast: 0.333s;
$slow: 0.666s;
$very_slow: 1.666s;


// #BREAKPOINTS

$small: "all and (max-device-width:800px), all and (max-width:800px)";
$medium: "all and (max-device-width:1100px), all and (max-width:1100px)";
$breakpoints: "medium" $medium, "small" $small;

