
// #BUTTONS

button,
.button {
	display: inline-block;
	cursor: pointer;
	
	font-family: $headings_font;
	font-size: $base_size;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	letter-spacing: $letter_spacing/2;

	color: $gold;
	background: transparent;
	
	position: relative;
	padding: $vertical_rythm/1.5 $vertical_rythm*1.25 $vertical_rythm/1.75;
	border: 1px solid;

	@include transition(background $fast, color $fast, border-color $fast, opacity $fast);


	&:hover,
	&:focus {
		color: $highlight;
	}

	&:active {
		top: 1px;
	}

	&.button--small {
		font-size: $small_size;
		padding: $vertical_rythm/1.75 $vertical_rythm*1.25 $vertical_rythm/2;
	}

	&.button--with_icon {
		@extend .grid;
		@extend .grid--middle;
		font-weight: bold;
		text-transform: none;
		text-align: left;
		line-height: 1;
		letter-spacing: 0;

		padding: $vertical_rythm/1.75 $vertical_rythm*1.25 $vertical_rythm/2;
		border-radius: $vertical_rythm/4;

		svg {
			margin-right: $vertical_rythm/4;
		}

		small,
		strong {

		}

		strong {
			font-size: $big_size;
		}
	}

	&.button--half {
		min-width: 50%;
	}

	&.button--full {
		min-width: 100%;
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}




