

*, *:before, *:after {
	box-sizing: border-box;
}



// #BODY

html {
	
}

body {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;

	@include transition(background-color $fast);
}



// #HEADER

header {
	@extend .padded;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}


// #MAIN

.main {
	max-width: 1600px;
	margin: 0 auto;
}


// #FOOTER

footer {
	@extend .padded;
	@extend .padded--thick;
}


// #BACKGROUNDS

.black_back {
	color: $white;
	background-color: $black;
}

.white_back {
	background-color: $white;
}


// #MIXINS

.max_width {
	width: 100%;
	max-width: 1200px;
}

.padded {
	padding: $gutter/1.5 $gutter;

	@media #{$small} {
		padding: $gutter/2;
	}

	&.padded--thick {
		padding: $gutter*1.25 $gutter*2;

		@media #{$medium} {
			padding: $gutter;
		}

		@media #{$small} {
			padding: $gutter/2;
		}
	}
}

.huge_bottom { margin-bottom: $vertical_rythm*8; }
.big_bottom { margin-bottom: $vertical_rythm*4; }
.medium_bottom { margin-bottom: $vertical_rythm*2; }
.small_bottom { margin-bottom: $vertical_rythm/2; }
.flat_bottom { margin-bottom: 0 !important; }
.medium_top { margin-top: $vertical_rythm*2; }

.hide { display: none; }
.invisible { visibility: hidden; pointer-events: none; }
.inline_block { display: inline-block; }
.right { float: right; }
.text_center { text-align: center; }
.text_right { text-align: right; }





