
// #BOXES

.box {
	@extend .padded;
	@extend .grid;
	@extend .grid--vertically_spaced;

	position: relative;
	width: 100%;
	min-height: #{$video_ratio * 100}vw;

	margin-bottom: $gutter;


	&.box--middle {
		@extend .padded--thick;
		@extend .grid--middle;

		&:nth-child(2n) {
			@extend .grid--right;
		}
	}
}
	.box__top,
	.box__bottom {
		width: 100%;
	}

	.box__inside {
		width: 100%;

		.box--middle & {
			width: 50%;

			@media #{$medium} {
				width: 75%;
			}

			@media #{$small} {
				width: 100%;
			}
		}

		&.box__inside--with_top {
			padding-top: $gutter;
		}
	}
	

	.box__bottom {

	}

		.box__bottom__text {
			text-align: center;
			max-width: 22rem;
		}


	.box__back {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		
		width: 100%;
		height: 100%;
		pointer-events: none;

		background-image: url("https://placehold.it/1230x900/462B49/d2ceab/&text=∅");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}




