
// #BOXES

.box {
	@extend .padded;
	@extend .grid;
	@extend .grid--vertically_spaced;

	position: relative;
	min-height: 100vh;

	margin-bottom: $gutter;

	background-image: url("https://placehold.it/1230x900/462B49/d2ceab/&text=∅");
	background-size: cover;
	background-position: center;

	&.box--half {
		@extend .padded--thick;

		&:nth-child(2n+1) {
			@extend .grid--right;
		}
	}
}
	.box__top,
	.box__bottom {
		width: 100%;
	}

	.box__inside {
		width: 100%;

		.box--half & {
			width: 50%;
		}
	}

	.box__bottom {

	}

		.box__bottom__text {
			text-align: center;
			max-width: 22rem;
		}
