
// #LOGO

.logo {
	display: inline-block;
	max-width: 280px;

	polygon,
	path {
		fill: $primary;
	}

	& + .h2--logo {
		display: none;
	}
}


$displacement: 10%;

@include define_keyframes(logoloop) {
	0%   { 
		transform: translate($displacement, $displacement);
		-webkit-transform: translate($displacement, $displacement);
		-ms-transform: translate($displacement, $displacement);
	}
	25%   { 
		transform: translate(-$displacement, $displacement);
		-webkit-transform: translate(-$displacement, $displacement);
		-ms-transform: translate(-$displacement, $displacement);
	}
	50%   { 
		transform: translate(-$displacement, -$displacement);
		-webkit-transform: translate(-$displacement, -$displacement);
		-ms-transform: translate(-$displacement, -$displacement);
	}
	75% { 
		transform: translate($displacement, -$displacement);
		-webkit-transform: translate($displacement, -$displacement);
		-ms-transform: translate($displacement, -$displacement);
	}
	100%   { 
		transform: translate($displacement, $displacement);
		-webkit-transform: translate($displacement, $displacement);
		-ms-transform: translate($displacement, $displacement);
	}
}

	.logo__circle {
		@include transform_origin(50%, 50%);
		@include animation(logoloop 5s ease-in-out infinite);
	}
	



