
// #LOGO

.logo {
	display: inline-block;
	max-width: 280px;

	polygon,
	path {
		fill: $primary;
	}

	& + .h2--logo {
		display: none;
	}
}



@keyframes circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes inner_circle {
    from { transform:rotate(0deg); }
    to { transform:rotate(-360deg); }
}

	.logo__circle {
		@include transform_origin(50%, 25%);
		@include animation(circle 5s linear infinite);
	}

		.logo__circle__path {
			@include animation(inner_circle 5s linear infinite);
		}
	



