
// #LOGO


@include define_keyframes(logoloop) {
	0%   { 
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	100% { 
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}


.logo {
	
	span {
		@include animation(logoloop 5s infinite linear);
	}
}
	