
// #NAV

nav {
	@extend .grid;
	@extend .grid--spaced;
}
	
	.nav__link {
		font-family: $headings_font;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: $letter_spacing/2;

		.homepage &[href="/tracks"] {
			@extend .invisible;
		}

		.homepage &[href="/tour-dates"] {
			
			@media #{$small} {
				display: none;
			}
		}

		&:after {
			content: "";
			display: inline-block;
			border-top: 1px solid;
			width: 0;

			@include transition(width $fast);
		}

		&:hover,
		&:focus {
			
			&:after {
				width: 100%;
			}
		}
	}