
// #NAV

nav {
	@extend .grid;
	@extend .grid--spaced;

	@extend .padded;

	@media #{$small} {
		padding-top: $gutter/4;
		padding-bottom: $gutter/4;
	}
}
	
	.nav__link {
		font-family: $headings_font;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: $letter_spacing/2;

		.homepage &[href="/tracks"] {
			@extend .invisible;
		}

		.homepage &[href="/biography"],
		.homepage &[href="/contact"],
		.homepage &[href="/tracks"] {
			
			@media #{$small} {
				display: none;
			}
		}

		.homepage &[href="/tour-dates"] {

			@media #{$small} {
				max-width: $base_size * 6;
				margin-left: auto;
			}
		}

		&:after {
			content: "";
			display: inline-block;
			border-top: 1px solid;
			width: 0;

			@include transition(width $fast);
		}

		&:hover,
		&:focus {
			
			&:after {
				width: 100%;
			}
		}
	}