

// #VIDEOS

$video_width: 1440;
$video_height: 795;
$video_ratio: $video_height/$video_width;

.video_container {
	position: relative;
	padding-top: $video_ratio;

	iframe,
	video {
		position: absolute;
		left: 0;
		top: 0;

		height: 100%;
		width: 100%;
	}
}