

// #BIOGRAPHY

.biography {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;

	background: fade-out($black, 0.15);

	article > hr {
		display: none;
	}
}