

// #BIOGRAPHY

.biography {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: auto;

	background: fade-out($black, 0.15);

	h2 {
		@extend .medium_bottom;
	}

	article > hr {
		display: none;
	}

	p {
		font-size: $base_size*1.2;
		line-height: 1.222;
	}
}