

// #BIOGRAPHY

.biography {
	@extend .overlay;

	h2 {
		@extend .medium_bottom;
	}

	article > hr {
		border: none;
	}

	p {
		font-size: $base_size*1.2;
		line-height: 1.222;
	}

	@media #{$small} {
		height: 100%;
		
		align-items: stretch;
		-webkit-align-items: stretch;
	}
}