

// #CONTACT

.contact {
	font-family: $headings_font;
	text-transform: uppercase;
	letter-spacing: $letter_spacing/2;

	h3 {
		font-size: $base_size;
		letter-spacing: $letter_spacing/2;
	}

	p {
		font-size: $small_size*1.2;
	}
}