

// #CREDITS

.credits {
	@extend .overlay;
	@extend .overlay--relative;
	
	color: $gold--light;
	line-height: 1.333;

	h3 {
		font-size: $small_size;
		letter-spacing: $letter_spacing/2;
		color: $gold--dark;

		display: block;
		padding-bottom: $vertical_rythm/4;
		border-bottom: 1px solid;
	}

	p {
		font-size: $small_size*1.2;
		letter-spacing: $letter_spacing/4;
		text-transform: uppercase;
	}
}