

// #CREDITS

.credits {
	color: $gold--light;
	line-height: 1.333;

	h3 {
		font-size: $small_size;
		color: $gold--dark;

		display: block;
		border-bottom: 1px solid;
	}

	p {
		font-size: $small_size;
	}
}