

// #TOUR DATES

.sqs-block-tourdates {

	.tour-item {
		position: relative;

		font-size: $base_size;
		text-transform: uppercase;
		

		padding: $vertical_rythm/2 0;
		border-color: $gold--dark;
	}

	.tour-timeframe {
		font-weight: bold;
		line-height: 0.8;
		letter-spacing: $letter-spacing/4;

		width: 100%;

		@media #{$small} {
			line-height: 2;
		}
	}

		.tour-date,
		.tour-weekday {
			width: auto;
		}

	.tour-venue {
		font-size: $base_size/1.25;
		letter-spacing: $letter-spacing/2;

		width: 50%;

		@media #{$small} {
			line-height: 1;
			width: 100%;
		}
	}

	.tour-location {
		font-size: $base_size/1.25;
		letter-spacing: $letter-spacing/2;

		@media #{$small} {
			width: 100%;
		}
	}

	.tour-actions {

		@media #{$small} {
			position: absolute;
			top: $vertical_rythm/2;
			right: 0;
		}
	}
}